@font-face {
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf') format("truetype");
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf') format("truetype");
}