*:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

body {
  background-color: #f8fafc;
  font-family: Lato-Regular;
  color: #17161a;
}

body h1 {
  font-size: 15em;
}

body h2 {
  font-size: 5em;
}

body h3 {
  font-size: 2.5em;
}

body h1 span,
body h2 span {
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: Lato-Black;
}

body .loginContainer {
  width: 400px;
}

body .loginContainer h1 {
  margin-bottom: 30px;
}

body .contpanel {
  margin-top: 2vh;
  border-top: solid #e7e7e7 2px;
  border-bottom: solid #e7e7e7 2px;
  width: 100%;
  text-align: center;
  padding: 10vh 0;
}

body .contpanel button {
  margin-top: 20px;
  padding: 15px 40px;
}

body .more a {
  margin-top: 20px;
  color: #1a191d;
  transition: ease-in-out 0.3s;
  font-size: 1.2em;
  line-height: 1;
}

body .more a ion-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

body .more a:hover {
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

body .loginForm input {
  padding: 25px;
  background-color: transparent;
}

body .loginForm input:focus {
  outline: none !important;
  border: 1px solid #d90a2c;
  box-shadow: 0 0 5px rgba(217, 10, 44, 0.2);
  background-color: rgba(248, 250, 252, 0.7);
}

body .loginForm button {
  background: linear-gradient(to left, red, #d90a2c);
  border: #d90a2c;
}

body .loginForm .btn {
  padding: 10px;
  width: 100%;
}

body .intro {
  padding-top: 25vh;
}

body .intro p {
  font-size: 1.1em;
  font-weight: bold;
}

body .intro .countgroup .count {
  width: 100px;
  border-top: 1px solid rgba(23, 22, 26, 0.2);
  padding-top: 25px;
  margin-right: 25px;
  float: left;
}

body .intro .countgroup .count h3 {
  font-size: 2.3em;
  display: block;
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .intro img {
  float: right;
  width: 100%;
}

body .container-lg {
  max-width: 95%;
}

body .container {
  max-width: 80%;
}

body .dark-back {
  color: #f8fafc !important;
}

body .dark-back ion-icon {
  color: #f8fafc !important;
}

body .dark-back input {
  color: #f8fafc;
}

body .grid {
  padding-top: 50px;
}

body .grid .grid-item {
  width: 32%;
}

body .grid .grid-item {
  position: relative;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 5px;
}

body .grid .grid-item .technologie {
  text-transform: capitalize;
  position: absolute;
  top: 30px;
  left: 30px;
  border: solid #d90a2c 1px;
  color: #d90a2c;
  padding: 5px 10px;
  border-radius: 10px;
}

body .grid .grid-item .technologie ion-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

body .grid .grid-item img {
  width: 100%;
}

body .grid:after {
  content: "";
  display: block;
  clear: both;
}

body .banner-intro {
  margin-top: 15vh;
  padding: 2em 0;
  margin-bottom: 2em;
}

body .banner-intro h1 {
  font-size: 15em;
}

body .banner-intro h1 span {
  color: #d90a2c;
}

body .banner-intro a {
  color: #d90a2c;
}

body .banner-intro ion-icon,
body .banner-intro span {
  font-size: 1.5em;
}

body .banner-intro .technologie {
  text-transform: capitalize;
  border: solid #d90a2c 1px;
  color: #d90a2c;
  padding: 5px 10px;
  border-radius: 10px;
}

body .project img {
  width: 80%;
}

body .project p {
  margin: 30px 0px;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #1a191d;
}

body .filter-button-group {
  width: 100%;
  text-align: center;
}

body .filter-button-group .is-checked {
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .filter-button-group .filter {
  padding: 0;
}

body .filter-button-group .filter span {
  margin: 0 10px;
  cursor: default;
}

body #contactForm {
  padding: 5vh 0;
}

body #contactForm span {
  color: #d90a2c;
}

body #contactForm input:not([type=submit]) {
  color: #17161a;
}

body .socio-panel {
  padding: 30px;
}

body .socio-panel iframe {
  width: 100%;
}

body .socio-panel h3 {
  margin-bottom: 25px;
}

body .socio-panel p {
  font-size: 1.3em;
}

body .socio-panel p ion-icon {
  font-size: 2em;
  margin-right: 10px;
}

body .socio-panel a {
  color: #1a191d;
}

body .socio-panel a:hover {
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

body #skills {
  margin-top: 5vh;
  padding: 5vh 0;
}

body #skills h1 {
  margin-bottom: 5vh;
}

body section.dark-back {
  background-color: #1a191d !important;
}

body header.dark-back {
  background-color: #17161a !important;
}

body .v-flexer {
  display: flex;
  align-items: center;
}

body .v-in-flexer {
  display: inline-flex;
  align-items: center;
}

body .nav-container {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 90;
  background-color: rgba(23, 22, 26, 0.99);
  padding: 70px 0;
}

body .nav-container .container-lg {
  z-index: 92;
  position: fixed;
  top: 5vh;
  left: 50px;
}

body .nav-container .backword {
  z-index: 91;
  max-width: 95%;
  margin: auto;
  position: fixed;
  top: 0;
}

body .nav-container .backword p {
  font-size: 48em;
  letter-spacing: 0.1em;
  font-family: Lato-Black;
  color: rgba(248, 250, 252, 0.05);
  line-height: normal;
  transition: all ease-in-out 0.3s;
}

body .nav-container ion-icon {
  font-size: 2em;
  color: #f8fafc;
  border: solid transparent 1px;
  border-radius: 50%;
  padding: 10px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

body .nav-container ion-icon:hover {
  border: solid #d90a2c 1px;
}

body .nav-container ul {
  margin-top: 15vh;
  padding: 0;
}

body .nav-container ul li {
  list-style-type: none;
  padding-bottom: 1em;
}

body .nav-container ul li a {
  font-family: Lato-Black;
  text-decoration: none;
  color: rgba(248, 250, 252, 0.5);
  font-size: 3em;
  transition: all ease-in-out 0.3s;
}

body .nav-container ul li a:hover {
  padding-left: 20px;
  color: #d90a2c;
}

body #about-text h2 {
  margin-bottom: 50px;
}

body #about-text p {
  color: #1a191d;
  font-size: 1.2em;
  margin-bottom: 30px;
}

body #about-text p a {
  color: #1a191d;
  font-weight: bold;
}

body #about-text p a:hover {
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

body #about-text ion-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

body header {
  position: fixed;
  width: 100%;
  padding: 45px 0;
  transition: all ease-in-out 0.3s;
  z-index: 3;
}

body header input[type=text] {
  font-family: Lato-Black;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

body header .menup ion-icon {
  font-size: 2em;
  color: #17161a;
  border: solid transparent 1px;
  border-radius: 50%;
  padding: 10px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

body header .menup ion-icon:hover {
  border: solid #d90a2c 1px;
}

body header span {
  font-family: Lato-Black;
}

body header a {
  color: #1a191d;
}

body header a:hover {
  text-decoration: none;
  color: #1a191d;
}

body header .btn-danger {
  float: right;
  max-width: 90%;
}

body header .btn-danger ion-icon {
  font-size: 1.5em;
  padding: 5px 10px;
}

body header .btn-danger span {
  color: #f8fafc;
  padding: 0 10px;
  border-left: solid rgba(248, 250, 252, 0.5) 1px;
}

body .btn-danger {
  background: linear-gradient(to left, red, #d90a2c);
}

body .skills {
  margin-top: 5vh;
  width: 100%;
  margin: auto;
}

body .skills ul,
body .skills li {
  list-style: none;
}

body .lines {
  height: 100%;
  width: 100%;
}

body .line {
  z-index: 1;
  height: inherit;
  width: 2px;
  position: relative;
  background: rgba(231, 231, 231, 0.6);
}

body .line.l--0 {
  left: 0;
}

body .line.l--25 {
  left: 25%;
}

body .line.l--50 {
  left: 50%;
}

body .line.l--75 {
  left: 75%;
}

body .line.l--100 {
  left: calc(100% - 1px);
}

body .line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
}

body .charts {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

body .chart {
  margin: 30px 0 0;
}

body .chart:first-child {
  margin: 0;
}

body .chart__title {
  display: block;
  margin: 0 0 10px;
  font-size: 2em;
  font-weight: bold;
  color: #f8fafc;
  opacity: 1;
}

body .chart--horiz {
  overflow: hidden;
}

body .chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, red, #d90a2c);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 1;
}

body .chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: #f8fafc;
}

body .panel-nav {
  background-color: #f8fafc;
  padding: 12px 0;
  box-shadow: 0px 0px 5px rgba(23, 22, 26, 0.3);
}

body .panel {
  height: 100vh;
}

body #projects {
  overflow: hidden;
}

body footer {
  margin-top: 2vh;
  background-color: #e7e7e7;
  clear: both;
  width: 100%;
  padding: 30px 0;
}

body footer a {
  color: #1a191d;
  font-weight: bold;
}

body footer a:hover {
  background: linear-gradient(to left, red, #d90a2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body footer div + div {
  text-align: right;
}

body footer .logos {
  font-size: 30px;
}

body footer .logos a {
  margin-left: 10px;
}

body footer .logos a:hover {
  color: #d90a2c;
}

@media only screen and (max-width: 1565px) {
  body h1 {
    font-size: 10em !important;
  }

  body h2 {
    font-size: 4em !important;
  }
}

@media only screen and (max-width: 1235px) {
  header .col-2 span,
  main .col-md-5 img {
    display: none !important;
  }

  .technologie {
    display: none !important;
  }
}

@media only screen and (max-width: 1070px) {
  body h1 {
    font-size: 5em !important;
  }

  body h2 {
    font-size: 3em !important;
  }

  body .grid-item {
    width: 100% !important;
  }

  body .col-md-7 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 766px) {
  header .btn-danger {
    padding: 0 !important;
  }

  #about-text {
    margin-bottom: 3em !important;
  }

  #about-text + .col-md-6 img {
    width: 100% !important;
  }

  .container {
    max-width: 90% !important;
  }

  .socio-panel {
    padding: 0 !important;
  }

  .lines {
    display: none !important;
  }

  .contpanel h3 {
    font-size: 1.5em !important;
  }
}

